*{
    box-sizing: border-box;
    margin: 0px;
}

.background{
    width: 1024px;
    height: 600px;
    /* background-color: bisque; */
    background-image: url("../images/background.png");
    padding: 20px 0px 0px 20px; /*위 오 왼 아래*/
}

.outerbox{
    width: 800px;
    height: 544px;
    /* background-color: tomato; */
    background-image: url("../images/outerbox.png");
}
.wrapper{
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
    padding: 32px 0px 0px 32px;
}

.wrapper__left{
    display: flex;
    flex-direction: column;
    width: 208px;
    height: 472px;

}
.wrapper__left__header{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.today{
    font-size: 9px;
}
.wrapper__left__body{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left__body__header{

}
.left__body__header__gray{

}
.left__body__header__line{

}
.left__body__profile{

}
.left__body__footer{

}
.wrapper__right{
    width: 524px;
    height: 472px;
    background-color: blueviolet;
}